@page
@model OpenHealthWeb.Pages.Cliente.ProntuarioModel
@{
}
<div class="container">
    <div class="card mb-4">
        <div class="card-header">Meus dados</div>
        <div id="pnCliente" class="card-body">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-center">Exames e notificações</div>
            <div class="card-body">
                <div id="pnExames" class="row">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let dados = {};

    $(document).ready(function (){
        CarregarDados();
    });

    function CarregarDados()
    {
        ajaxRequestApi(
            urlAPI + "Prontuario/GetProntuarioCliente",
            "GET",
            {
                idCliente: getParamByName("idCliente")
            },
            "",
            function (data)
            {
                dados = data;
                let pn = `<div class="row">
                        <div class="col-sm">
                            <p id="lblNome">Nome: ${data.nome}</p>
                            <p id="lblNascimento">Data de nascimento: ${data.dataNascimento}</p>
                        </div>
                    </div>`;

                $("[id$=pnCliente]").empty().append(pn);
                
                pn = "";
                for (let i = 0; i < data.consulta.length; i++)
                {
                    pn += `<div class="col-sm-4">
                        <div class="card" style="height: 190px">
                            <div class="card-body">
                                <div class="col-sm-12 text-center">
                                    <label class="txtTitulo">${data.consulta[i].tipoConsulta}</label>
                                </div>
                                <div class="col-sm-12">
                                    <label class="txtData">${data.consulta[i].data}</label>
                                </div>    
                                <div class="col-sm-12 mb-4">
                                    <label class="txtDescricao">${data.consulta[i].descricao}</label>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button id="btnVer" type="button" class="btn btn-secondary btn-primary text-light" onclick="AcessarFicha(${data.consulta[i].id}, 'Consulta')">
                                        <i class="fas fa-eye"></i>&ensp;Ver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>`;
                }

                for (let i = 0; i < data.vacina.length; i++)
                {
                    pn += `<div class="col-sm-4">
                        <div class="card" style="height: 190px">
                            <div class="card-body">
                                <div class="col-sm-12 text-center">
                                    <label class="txtTitulo">${data.vacina[i].tipoVacina}</label>
                                </div>
                                <div class="col-sm-12">
                                    <label class="txtData">${data.vacina[i].data}</label>
                                </div>
                                <div class="col-sm-12 mb-4">
                                    <label class="txtDescricao">${data.vacina[i].observacao}</label>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button id="btnVer" type="button" class="btn btn-secondary btn-primary text-light" onclick="AcessarFicha(${data.vacina[i].id}, 'Vacina')">
                                        <i class="fas fa-eye"></i>&ensp;Ver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>`;
                }

                for (let i = 0; i < data.solicitacoes.length; i++)
                {
                    pn += `<div class="col-sm-4">
                        <div class="card" style="height: 190px">
                            <div class="card-body">
                                <div class="col-sm-12 text-center">
                                    <label class="txtTitulo">${data.solicitacoes[i].titulo}</label>
                                </div>
                                <div class="col-sm-12 mb-4">
                                    <label class="txtDescricao">${data.solicitacoes[i].descricao}</label>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <a id="btnSim" type="button" class="btn btn-secondary btn-success btnSim" onclick="Acesso(true, ${data.solicitacoes[i].id}, ${data.solicitacoes[i].idClinica})">
                                        <i class="fas fa-lock-open"></i>&ensp;Sim
                                    </a>
                                    <button id="btnNao" type="button" class="btn btn-secondary btn-danger btnNao" onclick="Acesso(false, ${data.solicitacoes[i].id}, ${data.solicitacoes[i].idClinica})">
                                        <i class="fas fa-lock"></i>&ensp;Não
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>`;
                }

                $("[id$=pnExames]").empty().append(pn);
            }
        );
    }

    function AcessarFicha(id, ficha)
    {
        if (ficha == "Consulta"){
            window.location.replace("/Cliente/FichaConsultaImpressao?id=" + id);
        }
        else if (ficha == "Vacina"){
            window.location.replace("/Cliente/FichaVacinaImpressao?id=" + id);
        }
    }       

    function Acesso(permitir, id, idClinica)
    {
        ajaxRequestApi(
            urlAPI + "Prontuario/AcessoProntuario",
            "GET",
            {
                id: id,
                idCliente: getParamByName("idCliente"),
                idClinica: idClinica,
                permitir: permitir
            },
            "",
            function (data)
            {
                if(data.Erro == true) alert(data.Mensagem);
                CarregarDados();
            }
        );
    }
</script>