@page
@model OpenHealthWeb.Pages.CadastroModel
@{
    ViewData["Title"] = "Cadastro";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="col-md-12 text-center">
                <h6>Cadastrar</h6>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="col-form-label">Nome completo</label>
                    <input id="txtNome" type="text" class="form-control" maxlength="200" required>
                    <label class="col-form-label">CPF</label>
                    <input id="txtCPF" type="text" class="form-control" maxlength="14" required>
                    <label class="col-form-label">Nascimento</label>
                    <input id="txtNascimento" type="date" class="form-control" required />
                    <label class="col-form-label">E-mail</label>
                    <input id="txtEmail" type="email" class="form-control" maxlength="100" required />
                    <label class="col-form-label">Senha</label>
                    <input id="txtSenha" type="password" class="form-control" maxlength="20" required />
                    <label class="col-form-label">Confirme sua senha</label>
                    <input id="txtSenhaConfirmar" type="password" class="form-control" maxlength="20" required />
                </div>
                <div class="col-md-6">
                    <label class="col-form-label">CEP</label>
                    <input id="txtCEP" type="text" class="form-control" placeholder="Exemplo: 12345-678" maxlength="9"
                        required />
                    <label class="col-form-label">Endereço</label>
                    <input id="txtEndereco" type="text" class="form-control" maxlength="150" required />
                    <label class="col-form-label">Número</label>
                    <input id="txtNumero" type="number" class="form-control" required />
                    <label class="col-form-label">Complemento</label>
                    <input id="txtComplemento" type="text" class="form-control" maxlength="100" />
                    <label class="col-form-label">Bairro</label>
                    <input id="txtBairro" type="text" class="form-control" maxlength="100" required />
                    <label class="col-form-label">Cidade</label>
                    <input id="txtCidade" type="text" class="form-control" maxlength="100" required />
                    <label class="col-form-label">Estado</label>
                    <select name="selEstado" id="selEstado" class="form-control" required></select>
                </div>
            </div>

            <div class="col-md-12 mt-3 text-center">
                <div class="spinner-border" role="status" id="spCadastrar" style="display: none">
                    <span class="sr-only"></span>
                </div>
                <button id="btnCadastrar" type="button" class="btn btn-success">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var $campoCpf = $("#txtCPF");
        var $campoCep = $("#txtCEP");
        $campoCpf.mask('000.000.000-00', { reverse: true });
        $campoCep.mask('00000-000', { reverse: true });
    });

    $('#btnCadastrar').click(async function () {
        let nome = $('#txtNome').val();
        let cpf = $('#txtCPF').val();
        let nascimento = $('#txtNascimento').val();
        let email = $('#txtEmail').val();
        let senha = $('#txtSenha').val();
        let senhaConfirmar = $('#txtSenhaConfirmar').val();
        let cep = $('#txtCEP').val();
        let numero = $('#txtNumero').val();
        let bairro = $('#txtBairro').val();
        let endereco = $('#txtEndereco').val();
        let complemento = $('#txtComplemento').val();
        let cidade = $('#txtCidade').val();
        let estado = $('#selEstado').val();

        if (senha != senhaConfirmar) return alert('Senhas diferentes! Confirme a sua senha!');

        $('#btnCadastrar').hide();
        $('#spCadastrar').show();

        let dto = {
            nome: nome,
            dataNascimento: nascimento,
            email: email,
            senha: senha,
            cpf: cpf,
            cep: cep,
            numero: numero,
            bairro: bairro,
            endereco: endereco,
            complemento: complemento,
            cidade: cidade,
            estado: estado
        };
        
        ajaxRequestApi(
            urlAPI + "Cliente/",
            "POST",
            dto,
            "",
            function (data)
            {
                window.location.replace("/Login");
            }
        );

        //$.ajax({
        //    type: 'POST',
        //    url: 'http://localhost:5000/Cliente/',
        //    data: JSON.stringify(data),
        //    contentType: 'application/json; charset=utf-8',
        //    dataType: 'json',
        //    success: function (data) {
        //        console.log('data is ' + data);
        //        nome.val('');
        //        nascimento.val('');
        //        email.val('');
        //        senha.val('');
        //        senhaConfirmar.val('');
        //        cpf.val('');
        //        cep.val('');
        //        numero.val('');
        //        bairro.val('');
        //        endereco.val('');
        //        complemento.val('');
        //        cidade.val('');
        //        estado.val('');

        //        // redirect to login page
        //        window.location.replace("/Login");
        //    },
        //    error: function (e) {
        //        alert(e);
        //        //console.log(e);
        //    }
        //});

        //$('#spEnviarExame').hide();
        //$('#btnEnviar').show();
    });

</script>
<script>
    var select = document.getElementById("selEstado");
    var estados = [{
        "ID": "1",
        "Sigla": "AC",
        "Nome": "Acre"
    },
    {
        "ID": "2",
        "Sigla": "AL",
        "Nome": "Alagoas"
    },
    {
        "ID": "3",
        "Sigla": "AM",
        "Nome": "Amazonas"
    },
    {
        "ID": "4",
        "Sigla": "AP",
        "Nome": "Amapá"
    },
    {
        "ID": "5",
        "Sigla": "BA",
        "Nome": "Bahia"
    },
    {
        "ID": "6",
        "Sigla": "CE",
        "Nome": "Ceará"
    },
    {
        "ID": "7",
        "Sigla": "DF",
        "Nome": "Distrito Federal"
    },
    {
        "ID": "8",
        "Sigla": "ES",
        "Nome": "Espírito Santo"
    },
    {
        "ID": "9",
        "Sigla": "GO",
        "Nome": "Goiás"
    },
    {
        "ID": "10",
        "Sigla": "MA",
        "Nome": "Maranhão"
    },
    {
        "ID": "11",
        "Sigla": "MG",
        "Nome": "Minas Gerais"
    },
    {
        "ID": "12",
        "Sigla": "MS",
        "Nome": "Mato Grosso do Sul"
    },
    {
        "ID": "13",
        "Sigla": "MT",
        "Nome": "Mato Grosso"
    },
    {
        "ID": "14",
        "Sigla": "PA",
        "Nome": "Pará"
    },
    {
        "ID": "15",
        "Sigla": "PB",
        "Nome": "Paraíba"
    },
    {
        "ID": "16",
        "Sigla": "PE",
        "Nome": "Pernambuco"
    },
    {
        "ID": "17",
        "Sigla": "PI",
        "Nome": "Piauí"
    },
    {
        "ID": "18",
        "Sigla": "PR",
        "Nome": "Paraná"
    },
    {
        "ID": "19",
        "Sigla": "RJ",
        "Nome": "Rio de Janeiro"
    },
    {
        "ID": "20",
        "Sigla": "RN",
        "Nome": "Rio Grande do Norte"
    },
    {
        "ID": "21",
        "Sigla": "RO",
        "Nome": "Rondônia"
    },
    {
        "ID": "22",
        "Sigla": "RR",
        "Nome": "Roraima"
    },
    {
        "ID": "23",
        "Sigla": "RS",
        "Nome": "Rio Grande do Sul"
    },
    {
        "ID": "24",
        "Sigla": "SC",
        "Nome": "Santa Catarina"
    },
    {
        "ID": "25",
        "Sigla": "SE",
        "Nome": "Sergipe"
    },
    {
        "ID": "26",
        "Sigla": "SP",
        "Nome": "São Paulo"
    },
    {
        "ID": "27",
        "Sigla": "TO",
        "Nome": "Tocantins"
    }];

    for (let i = 0; i < estados.length; i++) {
        select.options[select.options.length] = new Option(estados[i].Nome, estados[i].Sigla);
    }
</script>