@page
@model OpenHealthWeb.Pages.RedefinirSenhaModel
@{
    ViewData["Title"] = "Redefinir senha";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/csslightgreensite.css" />
    <script src="~/js/Util.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/00dbf79896.js" crossorigin="anonymous"></script> 
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="h-100">
    <div class="container h-100">
        <main role="main" class="d-flex justify-content-center h-100">
            <form asp-page-handler="Print" method="post" class="row justify-content-center align-self-center">
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="card">
                        <div class="row justify-content-center align-self-center pt-3"><h2 class="text-success" style="font-weight: 800;">Open Health</h2></div>
                        <div class="card-body">
                            <label class="col-form-label">Nova senha</label>
                            <input id="txtNovaSenha" type="password" class="form-control" placeholder="Nova senha" />
                            <label class="col-form-label">Confirmar senha</label>
                            <input id="txtConfirmarSenha" type="password" class="form-control mb-2" placeholder="Confirmar senha"/>
                            <div class="col-md-12 mt-3 mb-3">
                            </div>
                            <button id="btnRedefinir" type="button" onclick="RedefinirSenha()" class="btn btn-success w-100">Redefinir&ensp;<i class="fas fa-sync-alt"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
    <script>
        function RedefinirSenha()
        {
            let erro = "";
            let novaSenha = $("#txtNovaSenha").val();
            let confirmarSenha = $("#txtConfirmarSenha").val();

            if (novaSenha == ""){
                erro = "Digite a nova senha.";
            }

            if (confirmarSenha == ""){
                erro = "Confirme sua senha.";
            }

             if (confirmarSenha == novaSenha){
                erro = "As senhas não são iguais.";
            }

            if (erro != ""){
                alert(erro);
                return;
            }

            let url = "";
            if (getParamByName("tipo") == "Paciente") url = "Cliente/AtualizarSenha";
            if (getParamByName("tipo") == "Profissional") url = "Profissional/AtualizarSenha";

            ajaxRequestApi(
                urlAPI + url,
                "GET",
                {
                    id: getParamByName("id"),
                    novaSenha: novaSenha
                },
                "",
                function (data)
                {
                    window.location.replace("/Login");
                }
            );
        }
    </script>
</body>
</html>