@page
@model OpenHealthWeb.Pages.TemosModel
@{
}
<div class="text-center">
    <h6>Termos de uso</h6>
    <p>Ao se inscrever e utilizar nosso sistema o usuário concorda com os nossos termos de uso.</p>
    <p>Para mais informações e ajuda contate através do nosso canal de comunicação.</p>
    <p>ContatoOpenHealth@gmail.com</p>
    <a class="btn btn-success" asp-area="" asp-page="/Index">OK</a>
</div>
